.card.img{
    max-width: 280px;
    width: 28vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0, 0, 0/ 8%);
}

.card h2{
    font-size: 22px;
    margin-right: 30px;
}

.card h3{
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0/ 90%);
}

.card p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0/ 70%);
    margin-bottom: 24px
}